@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

@layer utilities {
  .rotate-3 {
    transform: rotate(3deg);
  }
  
  .-rotate-1 {
    transform: rotate(-1deg);
  }
}